<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JSPparking8.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Insertarcoche</display-name>
    <servlet-name>Insertarcoche</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Insertarcoche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insertarcoche</servlet-name>
    <url-pattern>/insertar-coche.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrarcoche</display-name>
    <servlet-name>Borrarcoche</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Borrarcoche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrarcoche</servlet-name>
    <url-pattern>/borrar-coche.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscarcoche</display-name>
    <servlet-name>Buscarcoche</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.Buscarcoche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscarcoche</servlet-name>
    <url-pattern>/buscar-coche.jr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listacoche</display-name>
    <servlet-name>listacoche</servlet-name>
    <servlet-class>com.zubiri.jsp.servlets.listacoche</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listacoche</servlet-name>
    <url-pattern>/lista-coche.jr</url-pattern>
  </servlet-mapping>
</web-app>